<main>
  <form class="dot-editor-container" action="/" method="post">
    <label for="dot">Graph description (.dot)</label>
    <textarea id="dot" name="dot" rows="10" cols="80">{{dot}}</textarea>

    <button class="view-button" type="submit">View</button>
  </form>

  {{#if graph_svg}}
    <figure class="graph-container">
      {{{graph_svg}}}
    </figure>
  {{/if}}
</main>
