<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Graphview</title>

    <link rel="stylesheet" href="https://unpkg.com/open-props" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/open-props/normalize.min.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/open-props/buttons.min.css"
    />
    <link rel="stylesheet" href="/static/style.css" />
    <script src="/static/lz-string.min.js"></script>
    <script type="module" src="/static/index.js"></script>
  </head>

  <body>
    <nav class="nav-container">
      <h1>
        <a href="/">Graphview</a>
      </h1>
    </nav>

    <main>
      <form class="dot-editor-container" action="/" method="post">
        <label for="dot">Graph description (.dot)</label>
        <textarea id="dot" name="dot" rows="10" cols="80">{{dot}}</textarea>

        <button class="view-button" type="submit">View</button>
      </form>

      {{#if graph_svg}}
        <figure class="graph-container">
          {{{graph_svg}}}
        </figure>
      {{/if}}
    </main>
  </body>
</html>
