<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Graphview</title>

  <link rel="stylesheet" href="https://unpkg.com/open-props"/>
  <link rel="stylesheet" href="https://unpkg.com/open-props/normalize.min.css"/>
  <link rel="stylesheet" href="https://unpkg.com/open-props/buttons.min.css"/>
  <link rel="stylesheet" href="/static/style.css"/>
  {{> scripts}}
</head>
<body>
  <nav class="nav-container">
    <h1>
      <a href="/">Graphview</a>
    </h1>
  </nav>

  {{> main}}
</body>
</html>
